---
title: Maria's Recipes - Recipes
---
<div class="container">
</div>

<div class="project-container">
	<h1>Recipe Gallery</h1>
	<p>A selection of Indian and Spanish recettas (recipes). Don't forget to use the search box for quick-lookup.</p>
	<br><center>
</div>

<div class="container">

	<div id="search-container">
		<input type="text" id="search-input" placeholder="search...">
		<ul id="results-container"></ul>
	</div>	  

	<div class="project-box">


			{% for post in site.posts %}
				<div class="row row2">

					<div class="col-md-3 project-image">
						<img src="/images/maria.jpg">
					</div>
					<!--{% if forloop.first %}
						{% assign add_class = 'most-recent' %}
						{% capture fresh_tag %}
						&nbsp;<span class="badge"><smaller>FRESH</smaller></span>
						{% endcapture %}
					{% endif %}-->
					<div class="col-md-9 project-post">
						<h3>{{ post.title }}</h3><h4><a href="{{post.url}}">Find out more</a></h4>
						<p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i>{{ post.date }}</small></p><hr/>
					</div>
				</div>
			{% endfor %}

	</div>
</div>
</div>
