<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">{{ site.name }}</p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/recipes/index.html">Recetas</a></li>
                <li><a href="{{ site.baseurl }}/recipesEng/index.html">Recipes (in English)</a></li>
                <li><a href="{{ site.baseurl }}/spices/index.html">Glossary of Spices</a></li>
                <li><a href="{{ site.baseurl }}/about/index.html">About Me</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
        <hr class="hrRed" />
        <li><a href="{{ site.baseurl }}/recipes/index.html">Recetas</a></li>
        <li><a href="{{ site.baseurl }}/recipesEng/index.html">Recipes (in English)</a></li>
        <li><a href="{{ site.baseurl }}/spices/index.html">Glossary of Spices</a></li>
        <li><a href="{{ site.baseurl }}/about/index.html">About Me</a></li>
        <hr />
        <div id="social-wrapper">
            <!--<li>I'm on Twitter !</br><a href="{{ site.twitter }}">Follow me now</a></li>-->
            <style>.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
            <li><a href="https://www.instagram.com/maria.recipes/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a></li>
            <!---<li>&nbsp</li>
                <li><a data-pin-do="buttonFollow" href="https://fr.pinterest.com/mariarecetas/">View&nbsp;on&nbsp;Pinterest</a></li>-->
        </div>
    </ul>
</div>
