    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/collage.jpeg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts %}
              {% if post.type == 'recipe' %}
                  <span class="badge lazy"><smaller>Latest Entry !</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
                  {% break %} 
              {% endif %}
          {% endfor %}
      </div>
    </div>
    <div class="container">
