#demonstration > div{
  width  : 30em;
  margin : 0 auto 1.5em;
}

#dropdownCentred{
  text-align : center;
}

#dropdownCentred > li{
  text-align : left;
}

.dropdown,
.dropdown ul{
  /*border     : 1px solid rgb(96,144,48);*/
  /*background : rgb(128,192,64);*/
  /*box-shadow : 0 0 4px rgba(0,0,0,0.25);*/
}

.dropdown a{
font: 400 20px/20px Abel, sans-serif;
color: #aaa;
  /*border     : 1px solid rgb(96,144,48);
  background : rgb(128,192,64);*/
 /* box-shadow : 0 0 4px rgba(0,0,0,0.25);*/
}

.dropdown ul{
  left : -1px;
}

[dir=rtl] .dropdown ul{
  right : -1px;
}

.dropdownVertical ul{
  left : 100%;
}

.dropdown ul ul,
.dropdownVertical ul{
  top : -1px;
}

.dropdown span{
/*  color       : white;
  font-family : 'Patua One',sans-serif;
  line-height : 2em;
  text-shadow : 0 0 0.125em rgba(0,0,0,0.25);
  cursor      : pointer;
  transition  : background 0.2s;*/
}

.dropdown li:hover > span,
.dropdown li.dropdownOpen > span{
  background-color : rgb(160,208,112);
}
.dropdown > li > ul{
  border     : 1px solid rgb(96,96,96);
  background : rgb(240,240,240);
  box-shadow : 0 0 4px rgba(0,0,0,0.25);
}

.dropdown > li > a > span{
  padding    : 0 25px 0 0em;
  background : url('../svg/arrow-down.svg') no-repeat;
  background-position : 98% 50%;

}

.dropdown > li > ul > li{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 8px;
}

.dropdownOpen > ul > li:hover{
  /*font-weight : 700;*/
  /*background : rgb(250,250,250);*/
}

.dropdown > li > ul > li:hover > a > span{
  font-weight : 800;
  color: #f00;
}

[dir=rtl] .dropdown > li > span{
  padding    : 0 0.5em 0 24px;
  background : url('arrow-down.svg') no-repeat left 13px;
}
/*
.dropdownVertical > li > span,
.dropdown ul span{
  padding    : 0 26px 0 0.5em;
  background : url('arrow-right.svg') no-repeat right 11px;
}
*/
[dir=rtl] .dropdown ul span{
  padding    : 0 0.5em 0 26px;
  background : url('arrow-left.svg') no-repeat left 11px;
}

.dropdown ul ul ul span,
[dir=rtl] .dropdown ul ul ul span{
  padding          : 0 0.5em;
  background-image : none;
}

#dropdownMegaMenu li > div{
  width   : 16em;
  padding : 0.5em;
}

#dropdownMegaMenu li > div > div{
  float : left;
}

#dropdownMegaMenu table{
  margin : 0 auto 0 0;
}

#dropdownMegaMenu th,
#dropdownMegaMenu td{
  padding     : 0 0 0 0.5em;
  color       : white;
  font-family : 'Patua One',sans-serif;
  text-align  : left;
  text-shadow : 0 0 0.125em rgba(0,0,0,0.25);
}
