<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <section class="delicious">
            {% include header.html %}
            <main role="main">
                {{ content }}
            </main>
            {% include footer.html %}
        </section>
        {% include scripts.html %}
	
	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=11165314; 
	var sc_invisible=1; 
	var sc_security="c5d3b5de"; 
	var scJsHost = (("https:" == document.location.protocol) ?
			"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
			scJsHost+
			"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="website
	statistics" href="http://statcounter.com/"
	target="_blank"><img class="statcounter"
	src="//c.statcounter.com/11165314/0/c5d3b5de/1/"
	alt="website statistics"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
	<script type="text/javascript">

	// Automatically sets the first post image as a featured image on Facebook and Twitter.
	var firstImg = jQuery('.post.single .post-content').find('img:first-of-type');
	var firstImgSrc = firstImg.attr('src');
	if (typeof firstImgSrc !== 'undefined') {
		jQuery('meta[property="og:image"]').attr('content', firstImgSrc);
		jQuery('meta[name="twitter:image"]').attr('content', firstImgSrc);
	}
		firstImg.addClass('post-img');

	console.log(firstImgSrc);

	</script>
    </body>
</html>
