---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <div class="post">
      <div class="leftHalfPost">
          <div class="videoContainer">
        <iframe width="100%" height="250px" src="{{ page.youtubeurl  }}" frameborder="10" allowfullscreen></iframe>
          </div>
      </div><div class="rightHalfPost">
        {{ content }}
      </div>
  </div>
</div>
{% include disqus.html %}
{% include share.html %}
{% include pager.html %}

