--- ---
<!DOCTYPE html>
<html lang="en">

<head>

    {% include header.html %}

</head>

<body>
    <div id="wrapper">
        {%include navigation.html %}
        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include scripts.html %}

    <script type="text/javascript">
        var pubs = {
            "name": "Food",
            "children": [
                {
                    "name": "Spanish",
                    "children": [
                        {
                            "name": "Carne",
                            "children": [
                                {
                                    "name": "dish1"
                                },
                                {
                                    "name": "dish2"
                                }
                            ]
                        },
                        {
                            "name": "Sin Carne",
                            "children": [
                                {
                                    "name": "dish3"
                                },
                                {
                                    "name": "dish4"
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "Indian",
                    "children": [
                        {
                            "name": "Quick",
                            "children": [
                                {
                                    "name": "dish1"
                                },
                                {
                                    "name": "dish2"
                                }
                            ]
                        }
                    ]
                }
            ]
        };


        var margin = {
                top: 50,
                right: 0,
                bottom: 0,
                left: 50
            },
            width = 800 - margin.right - margin.left,
            height = 800 - margin.top - margin.bottom;

        var i = 0,
            duration = 750,
            root;

        var tree = d3.layout.tree()
            .size([height, width]);

        var diagonal = d3.svg.diagonal()
            .projection(function (d) {
                return [d.x, d.y];
            });

        var svg = d3.select("#treeBox").append("svg")
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .attr("id","recipeTree")
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        root = pubs;
        root.x0 = 0;
        root.y0 = 0;

        root.children.forEach(collapse);
        update(root);

        d3.select(self.frameElement).style("height", "800px");

        function update(source) {

            // Compute the layout for subtree at source
            var nodes = tree.nodes(root).reverse(),
                links = tree.links(nodes);

            // Normalize for fixed-depth.
            nodes.forEach(function (d) {
                d.y = d.depth * 80;
            });

            // Create nodes…
            var node = svg.selectAll("g.node")
                .data(nodes, function (d) {
                    return d.id || (d.id = ++i);
                });
            
            /*
            nodes.forEach(function (d) {
                if(d.id==1){
                    d.y = 0;
                    d.x = 0;
                }
            });
            */
            
            // Apply class, translate to parent's position.
            var nodeEnter = node.enter().append("g")
                .attr("class", "node")
                .attr("transform", function (d) {
                    return "translate(" + source.x0 + "," + source.y0 + ")";
                })
                .on("click", click);

            nodeEnter.append("circle")
                .attr("r", 1e-6)
                .style("fill", function (d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

            nodeEnter.append("text")
                .attr("x", function (d) {
                    return d.children || d._children ? 15 : 15;
                })
                .attr("dy", "1.85em")
                .attr("text-anchor", function (d) {
                    return d.children || d._children ? "end" : "start";
                })
                .text(function (d) {
                    return d.name;
                })
                .style("fill-opacity", 1e-6);

            
            
            // Translate nodes to their position.
            var nodeUpdate = node.transition()
                .duration(duration)
                .attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });

            
            // circle, text  hidden -> visible
            nodeUpdate.select("circle")
                .attr("r", 8)
                .style("fill", function (d) {
                    return d._children ? "lightsteelblue" : "#fff";
                });

            nodeUpdate.select("text")
                .style("fill-opacity", 1);

            
            
            // closing a node
            
            // Translate children back to parent's position.
            var nodeExit = node.exit().transition()
                .duration(duration)
                .attr("transform", function (d) {
                    return "translate(" + source.x + "," + source.y + ")";
                })
                .remove();

            nodeExit.select("circle")
                .attr("r", 1e-6);

            nodeExit.select("text")
                .style("fill-opacity", 1e-6);

            
            // Create links…
            var link = svg.selectAll("path.link")
                .data(links, function (d) {
                    return d.target.id;
                });

            // Enter any new links at the parent's previous position.
            link.enter().insert("path", "g")
                .attr("class", "link")
                .attr("d", function (d) {
                    var o = {
                        y: source.x0,
                        x: source.y0
                    };
                    return diagonal({
                        source: o,
                        target: o
                    });
                });

            // Transition links to their new position.
            link.transition()
                .duration(duration)
                .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition()
                .duration(duration)
                .attr("d", function (d) {
                    var o = {
                        x: source.y,
                        y: source.x
                    };
                    return diagonal({
                        source: o,
                        target: o
                    });
                })
                .remove();

            // Stash the old positions for transition.
            nodes.forEach(function (d) {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

        // Toggle children on click.
        function click(d) {
            if (d.children) {
                d._children = d.children;
                d.children = null;
            } else {
                d.children = d._children;
                d._children = null;
            }
            update(d);
        }
        
        function collapse(d) {
            if (d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

    </script>
</body>

</html>