---
title: Maria's Recipes - Spices
---
<div class="container">
</div>

<div class="project-container">
	<h1>Spice Gallery</h1>
    <p>My fascination with Indian food has led me on a journey where I discover new spices almost every week. It's amazing how a single country has such wide variety in a condiment often ignored ! I list below some of the spices used in Indian households on a daily basis, and some that are reserved for special occasions.</p>
	<br><center>
</div>

<div class="container">
    <!--
	<div id="search-container">
		<input type="text" id="search-input" placeholder="search...">
		<ul id="results-container"></ul>
	</div>	  
    -->
	<div class="project-box">


			{% for post in site.posts %}
                {% if post.spice %}
                    <div class="row row2">
                            <div class="col-md-1 project-image">
                                <img src="{{post.eyecatcher}}">
                            </div>
                            <!--{% if forloop.first %}
                                {% assign add_class = 'most-recent' %}
                                {% capture fresh_tag %}
                                &nbsp;<span class="badge"><smaller>FRESH</smaller></span>
                                {% endcapture %}
                                {% endif %}-->
                            <div style="clear:left;" class="col-md-9 project-post">
                                <h3>{{ post.title }}</h3><h4><input type="button" onclick="$(this).w2overlay($('#popup1 [rel=body]').html(), { css: { width: '600px', padding: '10px' } });" value="Find out more"></input></h4>
                            </div>
                    </div>
                    <div id="popup1" style="display: none; width: 650px; height: 400px; overflow: auto">
                        <div rel="title">
                            {{ post.title }}
                        </div>
                        <div rel="body">
                            <div style="padding: 10; font-size: 11px; line-height: 150%;">
                                Ajwain is good. 
                            </div>
                        </div>
                    </div>
                {% endif %}
			{% endfor %}

	</div>
</div>
</div>
