---
title: Maria's Recipes - Recipes
layout: default_english
---
<div class="container">
</div>

<div class="project-container">
	<h1>Recipe Gallery</h1>
    <p>Glossary of recipes with photos and videos.</p>
	<br><center>
</div>

<div class="container">

	<div id="search-container">
		<input type="text" id="search-input" placeholder="search...">
		<ul id="results-container"></ul>
	</div>	  

	<div class="project-box">


			{% for post in site.posts %}
                {% if post.type == 'recipe' and post.english %}
                    <div class="row row2">
                            <div class="col-md-3 project-image">
                                <img src="{{post.eyecatcher}}">
                            </div>
                            <div style="clear:left;" class="col-md-9 project-post">
                                <h3>{{ post.title }}</h3><h4><a href="{{post.url}}">Find out more</a></h4>
                            </div>
                    </div>
                {% endif %}
			{% endfor %}

	</div>
</div>
