---
title: Maria Recipes - 101
layout: libro
---

<div class="project-container">
    <h1>Indian Cuisine 101</h1>
    <p>A Brief Introduction to Indian Cuisine.</p>
    <br><center>
</div>


<div class="magazine">
<div class="page cover">
    <p>
    Recetas de Maria
    </p>
</div>

{% for post in site.posts %}
    {% if post.forBook %}
        <div class="page">
            <p class="old">
            {{ post.title }}</br>{{ post.story | textilize }}
            </p>
        </div>
        <div class="page">
            <p class="old">
            {{ post.content }}
            </p>
        </div>
        {% break %}
    {% endif %}
{% endfor %}
</div>
